.CardCollections {
    align-self: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 10px;
}

.CardCollections__sidebar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.CardCollections__sidebar__links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3px;
}

.CardCollections__sidebar-link {
    width: 140px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: rgba(17, 15, 11, 1);
    /* box-shadow: inset 0 -2px 0 0 rgba(17, 15, 11, 1); */
}

.CardCollections__sidebar-link:hover {
    color: rgba(255, 255, 255, 1);
}

.active-link .CardCollections__sidebar-link {
    box-shadow: none;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0.5);
}

.CardCollections__main {
    min-width: 800px;
    flex-grow: 1;
    border-radius: 0px 5px 5px 5px;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 480px) {

    .CardCollections__main {
        min-width: 300px;

    }

}