.EditSet {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.EditSet h5 {
    text-transform: uppercase;
    color: white;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    font-size: 20px;
}

.EditSet__info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.EditSet__info__section {
    width: 250px;
    background-color: rgba(1, 30, 79, 0.1);
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.EditSet__cards {}

.EditSet__save {}
