.Learning-container {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
}

.Learning {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.Learning__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    height: 250px;
}