.Header {
    padding: 30px;
    background: transparent;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

.Header__choosing {
    display: flex;
    flex-direction: row;
}

.Header__lang button {
    width: 35px;
    height: 35px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: #020a14; 
    border: none;
}

.Header__lang:hover button {
    color: rgb(255,255,255); 
    background-color: #020a14;
}