.NavBar {
    margin-right: 50px;
}

.NavBar nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.NavBar-element {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 5px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.7) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.8s ease, color 0.5s ease;
    cursor: pointer;
    text-decoration: none;
    color: #020a14;
}

.NavBar-element:hover {
    background-position: left bottom;
    color: white;
}

.NavBar-element_active {
    background-color: transparent;
    outline: 2px solid rgba(255, 255, 255, 1);
}


@media screen and (max-width: 480px) {
    .NavBar {
        margin-right: 0px;
    }

    .NavBar nav {
        justify-content: space-between;
    }

    .NavBar-element {
        width: 60px;
        height: 25px;
        font-size: 10px;
    }
}