.NewSetProperties {
    display: flex;
    flex-direction: row;
}

.NewSetProperties label {
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}

.NewSetProperties__set-title input {
    padding: 5px;
}

.NewSetProperties__set-title input:focus {
    outline: 2px solid rgba(7, 51, 117, 1);
}

.NewSetProperties__lang button {
    padding: 3px;
    margin-bottom: 10px;
}

.NewSetProperties__lang button:focus {
    background-color: rgba(7, 51, 117, 1);
    color: rgba(255, 255, 255, 1);
}

.NewSetProperties__instructions textarea {
    height: 70px;
    padding: 5px;
}

.NewSetProperties__instructions textarea:focus {
    outline: 1px solid rgba(17, 15, 11, 1);
}

.NewSetProperties__set-title,
.NewSetProperties__categories,
.NewSetProperties__lang,
.NewSetProperties__instructions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    padding: 10px 20px;
}