.CardStack {
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-top: 110px;
}

.CardStack:hover .CardStack-card {
    transform: scale(1.1);
    transition: transform 0.3s ease; 
}

.CardStack-card {
    width: 100px;
    height: 120px;
    background-color: white;
    border: 1px solid #ddd;
    margin-top: -110px;
    transition: margin-top 0.3s ease, transform 0.3s ease;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    padding-top: 7px;

}

.CardStack-card:first-child {
    transform: rotate(-5deg);
}

.CardStack-card:nth-child(2) {
    transform: rotate(0deg);
}

.CardStack-card:nth-child(3) {
    transform: rotate(5deg);
    padding: 0 20px;
    align-items: center;
    text-align: center;
}

.CardStack.expanded .CardStack-card {
    margin-top: -95px;
    transform: rotate(0deg);
}