.TestingCard {
  height: 320px;
  width: 250px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.TestingCard-question {
  margin-bottom: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.TestingCard-question p {
}

.TestingCard__options {
  width: 100%;
}

.TestingCard__option {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 2px;
  background-color: rgba(7, 51, 117, 0.1);
  border: none;
}

.TestingCard__option.selected {
  background-color: red;
  color: white;
}


.TestingCard__option.correct {
  background-color: green;
  color: white;
}

.TestingCard__option.incorrect {
  background-color: red;
  color: white;
}