.Testing-container {
    min-height: 500px;
}

.Testing__title {
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    padding: 0 30px;
    margin-top: 20px;
    gap: 40px;
}

.Testing__title__number-of-questions {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-right: 20px;
    position: relative;
}

.Testing__title__number-of-questions-num {
    font-size: 55px;
    font-weight: 200;
    letter-spacing: -8px;
}

.Testing__title__number-of-questions-word {
    position: absolute;
    left: 70%;
    top: 42%;
    font-size: 12px;
    rotate: -90deg;
    font-weight: 300;
}

.Testing__title h4 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    color: rgba(1, 30, 79, 1);
    max-width: 250px;
    text-align: center;
    padding: 5px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Testing__title__score {
    display: flex;
}

.Testing__title__score-correct,
.Testing__title__score-incorrect {
    background-color: rgb(63, 167, 63);
    font-size: 40px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
}

.Testing__title__score-incorrect {
    margin-left: 10px;
    background-color: rgb(192, 97, 97);
}

.Testing-start {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Testing-start button {
    width: 120px;
    height: 40px;
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
    margin-top: 20px;
}

.Testing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Testing-instructions {
    width: 550px;
    text-align: center;
    color: white;
    margin-top: 20px;
}

@media screen and (max-width: 800px) {
    .Testing__title {
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .Testing__title h4 {
        font-size: 12px;
        font-weight: 500;
    }

    .Testing__title__score-correct,
    .Testing__title__score-incorrect,
    .Testing__title__number-of-questions {
        font-size: 30px;
        font-weight: 700;
        color: rgba(255, 255, 255, 1);
        padding: 5px 10px;
    }

    .Testing__title h4 {
        max-width: 150px;
    }

    .Testing__title {
        padding: 0 20px;
        margin-top: 10px;
        gap: 20px;
    }
}