.Testing-container {
    min-height: 500px;
    width: 100%;
}

.Testing__title {
    padding: 0px 30px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 40px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.Testing__title h4 {
    text-align: left;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    color: rgba(1, 30, 79, 1);
}

.Testing__title-number-of-questions {
    flex-grow: 1;
    padding-left: 15px;
    text-align: center;
}

.Testing__title__score {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Testing__title__score-correct,
.Testing__title__score-incorrect {
    background-color: rgb(63, 167, 63);
    font-size: 40px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    padding: 5px 10px;
}

.Testing__title__score-incorrect {
    margin-left: 10px;
    background-color: rgb(192, 97, 97);
}

.Testing-start {
    width: 100%;
    display: flex;
    justify-content: center;
}

.Testing-start button {
    width: 120px;
    height: 40px;
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
}

.Testing-instructions {
    width: 100%;
    text-align: center;
    color: white;
}

@media screen and (max-width: 800px) {
    .Testing-container {
        width: 100%;
    }

    .Testing__title {
        width: 100vw;
        padding: 0px 20px;
        margin-top: 10px;
        margin-bottom: 0px;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .Testing__title h4 {
        font-size: 15px;
        font-weight: 500;
    }

    .Testing__title-number-of-questions {
        font-size: 12px;
    }
}