.Footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.Footer__themes {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}

.Footer__themes p {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
}

.Footer__themes-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Footer__themes button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 20px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    border:none;
    border-radius: 5px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.7) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.8s ease, color 0.5s ease;
    cursor: pointer;
    text-decoration: none;
    color: #020a14; 
    margin-left: 10px;
}

.Footer__themes button:hover {
    background-position: left bottom;
    color: white;
}

.Footer__themes .Footer__themes-btn_active {
    background-color: #020a14;
    color: white; 
}

@media screen and (max-width: 480px) {
    .Footer__themes {
        flex-direction: column;
    }

    .Footer__themes-btns {
        margin-top: 10px;
    }
}