.CreateCards {
    margin-top: -20px;
}

.CreateCards__cards-btns {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.CreateCards__cards-btns button {
    width: 140px;
    padding: 5px;
    margin-top: 10px;
}

.CardWorkspace__create_new_set-btns {
    flex-direction: column;
}

.CardWorkspace__create_new_set-btns button {
    width: 100%;
}

.CardWorkspace__create_new_set-btns .btn-create-new-set {
    padding: 20px;
    font-size: 16px;
}

@media screen and (max-height: 850px) {
    .CreateCards {
        margin-top: -35px;
    }

    .CreateCards p {
        font-size: 12px;
        margin-top: 18px;
    }
}