.CategoryList {
  width: 300px;
  margin-top: 20px;
}

.CategoryList__items {
  max-height: 300px;
  overflow-y: auto;
  border-bottom: 1px solid #ccc;
  margin-top: 10px;
  background-color: rgba(17, 15, 11, 0.5);
}

.CategoryList__item {
  border-bottom: 1px solid #eee;
  cursor: pointer;
  padding: 10px 20px;
  color: white;
  font-size: 15px;
}

.CategoryList__item:hover {
  background-color: #f0f0f0;
  color: rgb(17, 15, 11);
}

.CategoryList__item.selected {
  background-color: #d0e0f0;
  color: rgb(17, 15, 11);
}

.CategoryList__search {
  display: flex;
  flex-direction: row;
}

.CategoryList__search input {
  width: 100%;
  height: 30px;
  padding: 20px;
  color: rgb(17, 15, 11);
  font-size: 15px;
  border-radius: 5px;
  border: none;
}

.CategoryList__search input:focus {
  outline: none;
  border: none;
}

.CategoryList__clear-btn {
  background: transparent;
  cursor: pointer;
  color: rgb(17, 15, 11);
  margin-left: -35px;
  border: none;
  padding: 0 5px;
}

.CategoryList__clear:hover,
.CategoryList__clear:active {}

.error {
  padding: 10px;
  font-size: 10px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (max-width: 480px) {
  .CategoryList__items {
    max-height: 105px;
  }

  .CategoryList__item {
    padding: 8px 20px;
  }
}
