.News {
    min-width: 769px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3%;
    min-height: 500px;
}

.News h5 {
    font-size: 25px;
    color: white;
    font-weight: 500;
    padding-top: 30px;
}

@media screen and (max-width: 480px) {
    .News {
        min-width: 0;
        width: 100%;
    }

    .News h5 {
        margin-top: -20px;
    }
}

.News-sea {
    background-color: rgba(1, 30, 79, 0.3);
}

.News-light {
    background-color: rgba(1, 30, 79, 0.2);
}