* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    font-weight: 400;
}

a {
    text-decoration: none;
}

.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}

.App-dark {
    background: linear-gradient(345deg, rgb(17,15,11) 70%, rgb(1,30,79) 85%, rgb(7,51,117) 90%,rgb(7,51,117) 100%);
    background-size: 200% 200%;
}

.App-light {
    background: lightgray;
    background-size: 200% 200%;
}

.App-sea {
    background-image: url('./data//img/sea-theme.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}